.staticpane {
  overflow-y: scroll;
  position: fixed;
  width: 100%;
}

.grid-x {
  max-width: var(--global-width);
}

.color-primary, .font-hilite {
  color: var(--primary-color);
}

.color-secondary {
  color: var(--secondary-color);
}

.color-accent {
  color: var(--accent-color);
}

.body-font-color {
  color: var(--body-font-color) !important;
}

.color-custom {
  color: var(--custom-color);
}

.button {
  background-color: var(--primary-color);
}
.button:hover {
  background-color: var(--primary-color-hover);
}
.button.primary {
  background-color: var(--primary-color);
}
.button.primary:hover {
  background-color: var(--primary-color-hover);
}
.button.secondary {
  background-color: var(--secondary-color);
}
.button.secondary:hover {
  background-color: var(--secondary-color-hover);
}
.button.accent {
  background-color: var(--accent-color);
}
.button.accent:hover {
  background-color: var(--accent-color-hover);
}
.button.alert {
  background-color: var(--alert-color);
}
.button.alert:hover {
  background-color: var(--alert-color-hover);
}
.button.success {
  background-color: var(--success-color);
}
.button.success:hover {
  background-color: var(--success-color-hover);
}
.button.warning {
  background-color: var(--warning-color);
}
.button.warning:hover {
  background-color: var(--warning-color-hover);
}

.button.hollow {
  background: none;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
.button.hollow:hover, .button.hollow:focus {
  border: 1px solid var(--primary-color-hover);
  background: hsl(0, 0%, 94%);
}
.button.hollow.primary {
  background: none;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
.button.hollow.primary:hover, .button.hollow.primary:focus {
  border: 1px solid var(--primary-color-hover);
  background: hsl(0, 0%, 94%);
}
.button.hollow.secondary {
  background: none;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}
.button.hollow.secondary:hover, .button.hollow.secondary:focus {
  border: 1px solid var(--secondary-color-hover);
  background: hsl(0, 0%, 94%);
}
.button.hollow.accent {
  background: none;
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}
.button.hollow.accent:hover, .button.hollow.accent:focus {
  border: 1px solid var(--accent-color-hover);
  background: hsl(0, 0%, 94%);
}
.button.hollow.alert {
  background: none;
  border: 1px solid var(--alert-color);
  color: var(--alert-color);
}
.button.hollow.alert:hover, .button.hollow.alert:focus {
  border: 1px solid var(--alert-color-hover);
  background: hsl(0, 0%, 94%);
}
.button.hollow.success {
  background: none;
  border: 1px solid var(--success-color);
  color: var(--success-color);
}
.button.hollow.success:hover, .button.hollow.success:focus {
  border: 1px solid var(--success-color-hover);
  background: hsl(0, 0%, 94%);
}
.button.hollow.warning {
  background: none;
  border: 1px solid var(--warning-color);
  color: var(--warning-color);
}
.button.hollow.warning:hover, .button.hollow.warning:focus {
  border: 1px solid var(--warning-color-hover);
  background: hsl(0, 0%, 94%);
}

.color-light {
  color: hsl(0, 0%, 79%);
}

.color-dark {
  color: hsl(0, 0%, 4%);
}

.color-label, .font-light {
  color: hsl(0, 0%, 44%);
}

.font-label {
  color: hsl(0, 0%, 44%);
  font-size: 0.8rem;
  line-height: 1.3;
}

::-moz-selection,
::selection {
  background-color: #fff3b2;
  color: hsl(0, 0%, 100%);
}

.red, i.solid.red, .error-message {
  color: var(--alert-color) !important;
}

.green, i.solid.green {
  color: var(--success-color) !important;
}

.custom-color {
  color: var(--custom-color);
}

body {
  font-size: calc(16px + 0.160625vw);
}
@media print, screen and (min-width: 40em) {
  body {
    font-size: 16px;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}

a:hover {
  text-decoration: underline;
}
a:hover.suppress-underline {
  text-decoration: none;
}

.badge {
  border-radius: 20%;
  margin-bottom: 0.5rem;
}

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}

.nowrap {
  white-space: nowrap;
}

.hideme {
  display: none;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.small-margin-bottom {
  margin-bottom: 0.5rem !important;
}

.vsmall-margin-bottom {
  margin-bottom: 0.25rem !important;
}

.no-margin-left {
  margin-left: 0 !important;
}

h6 {
  margin-bottom: 0.4rem;
}

p.small, .small {
  font-size: calc(var(--small-font-size) + 1px);
  line-height: 1.5;
}
@media print, screen and (min-width: 64em) {
  p.small, .small {
    font-size: var(--small-font-size);
  }
}

.vsmall {
  font-size: 13px;
  line-height: 1.3;
}

.vsmall.legend {
  line-height: 1.6;
}

.smaller {
  font-size: 94%;
  line-height: 1.4;
}

.bigger {
  font-size: 140%;
  line-height: 1.4;
}

.big {
  font-size: 180%;
  line-height: 1.6;
}

.vbig {
  font-size: 220%;
  line-height: 1.8;
}

.xbig {
  font-size: 275%;
  line-height: 2;
}

.strong, strong {
  font-weight: 700;
}

em, .italic {
  font-style: italic;
}

ul,
ol,
dl {
  list-style: none;
}

ul.compact li {
  font-size: 90%;
  line-height: 1.5;
}

table.full {
  width: 100%;
}

table th {
  text-align: left;
}

.overlay {
  text-shadow: 1px 3px 6px rgb(55, 55, 55);
}

img.right {
  margin-left: 0.9375rem;
}

img.left {
  margin-right: 0.9375rem;
}

ul.title-area li.name {
  margin-top: -3px;
}

hr {
  background: hsl(0, 0%, 79%);
  height: 1px;
  border: none;
  width: 100%;
  display: inline-block;
  margin: 1rem 0 0.25rem;
}

input[type=number], .input-tiny {
  min-width: 2rem !important;
  max-width: 3.5rem !important;
  width: 100% !important;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.form-text {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  color: #666e76;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.gmnoprint img {
  max-width: none;
}

#errorModal {
  background-color: var(--alert-color);
  opacity: 0.2;
}

ul.tabs {
  border: none;
  display: flex;
  flex-direction: row;
}
ul.tabs li {
  flex-grow: 1;
  min-height: 0;
  text-align: center;
  border-right: 0.25rem solid var(--body-background);
}
@media print, screen and (min-width: 40em) {
  ul.tabs li {
    border-right: 0.375rem solid var(--body-background);
  }
}
ul.tabs li:last-child {
  border-right: none;
}

.callout.white {
  background: hsl(0, 0%, 100%);
}

ul.download {
  line-height: 2;
}

dl.fancylist {
  font-size: 0.9rem;
}
dl.fancylist div {
  display: flex;
  margin: 5px 0 5px 0;
}
dl.fancylist dt {
  display: contents;
  font-weight: 400;
  font-style: italic;
}
dl.fancylist dt:after {
  border-bottom: 1px solid #8a8a8a;
  content: "";
  flex: 1 1 auto;
  margin: 0 12px 5px 12px;
}
dl.fancylist dd {
  flex: 0 1 auto;
  margin: 0 0 0 0;
}

img.responsive {
  width: 100%;
  height: auto;
}

.input-group [class*=col-] {
  padding-top: 0.95rem;
  padding-bottom: 0.95rem;
}

.input-number-group {
  display: flex;
  justify-content: center;
}
.input-number-group input[type=number]::-webkit-inner-spin-button,
.input-number-group input[type=number]::-webkit-outer-spin-button {
  appearance: none;
}
.input-number-group .input-group-button {
  line-height: calc(80px / 2 - 5px);
}
.input-number-group .input-number {
  border-color: var(--primary-color);
  display: block;
  margin: 0;
  outline: none;
  padding: 0 0.75rem;
  text-align: center;
  vertical-align: top;
  width: 80px;
}
.input-number-group .input-number,
.input-number-group .input-number-decrement,
.input-number-group .input-number-increment {
  height: 40px;
  user-select: none;
}
.input-number-group .input-number-decrement,
.input-number-group .input-number-increment {
  background: hsl(0, 0%, 100%);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  cursor: pointer;
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  padding-top: 0.15rem;
  text-align: center;
  width: 40px;
}
.input-number-group .input-number-decrement:disabled,
.input-number-group .input-number-increment:disabled {
  opacity: 0.3;
  cursor: default;
}
.input-number-group .input-number-decrement {
  border-right: none;
}
.input-number-group .input-number-increment {
  border-left: none;
}

.flex-horizontal-list, .flex-horizontal-sep {
  display: flex;
  font-size: 15px;
  flex-direction: row;
  margin-bottom: 0.3rem;
  text-align: left;
}
@media print, screen and (min-width: 40em) {
  .flex-horizontal-list, .flex-horizontal-sep {
    font-size: 18px;
  }
}

.flex-horizontal-list .item {
  display: flex;
  flex-direction: row;
}
.flex-horizontal-list .item p {
  margin-bottom: 0.3rem;
}
.flex-horizontal-list .item p.title {
  margin-right: 0.3rem;
}
.flex-horizontal-list .item p.value {
  margin-right: 0.6rem;
}

.flex-horizontal-sep .item {
  display: flex;
  flex-direction: row;
}
.flex-horizontal-sep .item p {
  margin-bottom: 0.3rem;
}
.flex-horizontal-sep .item p.sep {
  margin-right: 0.3rem;
}
.flex-horizontal-sep .item p.value {
  margin-right: 0.3rem;
}

.search-icon:after {
  color: hsl(0, 0%, 100%);
  content: "\f002";
  cursor: pointer;
  display: inline-block;
  font-family: "Font Awesome 6 Free", sans-serif;
  font-size: 1.25rem;
  font-weight: 900;
  margin-left: 0.7rem;
  margin-right: 0.5rem;
  position: relative;
  vertical-align: middle;
}

.title-bar {
  border-bottom: 2px solid hsl(0, 0%, 100%);
  height: 3.1875rem;
}
.title-bar .logo {
  margin-bottom: 0;
  max-width: 10rem;
  width: 10rem;
  overflow: visible;
}

@media print, screen and (min-width: 40em) {
  .title-bar {
    border-bottom: none;
  }
}
@media screen and (min-width: 75em) {
  #userbar {
    background: var(--topbar-background-top);
    height: 2.25rem;
    padding-top: 0.375rem;
    width: 100%;
  }
  #userbar ul {
    margin-bottom: 0;
    margin-right: 0.5rem;
  }
  #userbar ul li {
    padding-left: 1rem;
  }
  #userbar ul li a {
    background: none;
    color: var(--primary-color);
    font-size: 0.85rem;
    margin-top: -0.125rem;
    padding: 0.5rem;
  }
  #userbar ul li a :not(:first-child) {
    line-height: 1.9;
  }
  #userbar ul li a:hover {
    text-decoration: underline;
  }
  .top-bar {
    background: var(--topbar-background);
    height: 3.5rem;
    margin-bottom: 0;
    padding: 0.3rem 0.5rem;
    width: 100%;
    text-align: center;
    position: relative;
  }
  .top-bar .top-bar-left .logo {
    left: 5px;
    top: 0.25rem;
    max-width: 200px;
    position: absolute;
    z-index: 10;
  }
  .top-bar .top-bar-left ul.center-buttons {
    display: inline-block;
  }
  .top-bar .top-bar-left ul.menu li.active > a {
    background: var(--topbar-background-active);
  }
  .top-bar .top-bar-left ul.menu li a {
    color: var(--topbar-link);
    font-size: 1rem;
    margin-left: 2px;
    margin-right: 2px;
    text-decoration: none;
  }
  .top-bar .top-bar-left ul.menu li a:hover {
    background-color: var(--topbar-background-active);
    color: var(--topbar-link-active);
    height: 100%;
  }
  .top-bar .top-bar-left ul.menu li ul.submenu {
    background-color: var(--topbar-background);
    height: auto;
    margin-top: 0;
    width: 14.875rem;
    padding: 0.5rem 0;
    z-index: 99;
  }
  .top-bar .top-bar-left ul.menu li ul.submenu li a {
    font-size: 0.9375rem;
    height: 1.5rem;
    line-height: 1px;
    margin-top: 0;
    padding: 1rem 0.8rem;
    text-align: left;
  }
  .top-bar .top-bar-left ul.menu li ul.submenu li a:hover {
    background: var(--topbar-background-active);
    color: var(--topbar-link-active);
  }
  .top-bar .top-bar-left ul.menu li ul.submenu.megamenu.is-dropdown-submenu {
    padding: 0.5rem 0;
    width: 30.375rem;
  }
  .top-bar .top-bar-left ul.menu li ul.submenu.megamenu.is-dropdown-submenu li.is-dropdown-submenu-item {
    float: left;
    padding-right: 0;
    max-width: 14.875rem;
  }
}
.off-canvas-wrapper ul#offcanvas.nav.vertical {
  background: var(--topbar-background);
  height: 100%;
  width: 100%;
}
.off-canvas-wrapper ul#offcanvas.nav.vertical li {
  background: var(--topbar-background);
  padding: 0;
}
.off-canvas-wrapper ul#offcanvas.nav.vertical li a {
  border-bottom: 1px solid var(--primary-color-hover);
  color: hsl(0, 0%, 100%);
  display: block;
  padding: 0.75rem 0 0.75rem 0.5rem;
}
.off-canvas-wrapper ul#offcanvas.nav.vertical li a:hover {
  background: var(--primary-color-hover);
  color: hsl(0, 0%, 94%);
}
.off-canvas-wrapper .close-button {
  color: hsl(0, 0%, 100%);
  z-index: 999;
  outline: none;
  right: 0.6rem;
  top: 0.6rem;
  font-size: 1.3rem;
  line-height: 1;
}

.item {
  position: relative;
}

.img-fulltext-none img {
  margin-bottom: 0.625rem;
}

.kr-flex-center-small {
  display: flex;
  justify-content: center;
}
@media print, screen and (min-width: 40em) {
  .kr-flex-center-small {
    justify-content: left;
  }
}

#main {
  margin-top: 2rem;
}
#main .modules-above {
  display: block;
}
#main #sidebar-left, #main #sidebar-right {
  margin-top: 0;
  text-align: left;
}
#main #sidebar-right > div, #main #sidebar-left > div {
  margin-bottom: var(--global-margin);
}
#main #sidebar-right button, #main #sidebar-left button {
  margin-bottom: 1rem;
}

#kr-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  user-select: none;
  width: 100%;
  z-index: 98;
}

#back-to-top {
    border-radius: 5px;
    color: white;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    text-decoration: none;
    visibility: hidden;
    z-index: 1000;
}

#back-to-top :hover {
    opacity: 0.8;
}

#footer {
  margin-top: 2rem;
  position: relative;
}
#footer .footer-top {
  background: var(--footer-background-top);
  padding: 1.5rem 0 0;
  position: relative;
}
#footer .moduletable {
  margin-bottom: 1rem;
}
@media print, screen and (min-width: 40em) {
  #footer .moduletable {
    margin-bottom: 0;
  }
}
#footer i {
  color: var(--footer-icon);
}
#footer a i {
  color: hsl(0, 0%, 100%);
}
#footer a i:hover {
  color: var(--footer-link-hover);
}
#footer .middle {
  background: var(--footer-background);
  position: relative;
  padding: var(--global-padding) 0;
  color: hsl(0, 0%, 100%);
}
@media print, screen and (min-width: 40em) {
  #footer .middle {
    text-align: left;
  }
}
#footer .middle h3 {
  font-size: 1.5rem;
  color: var(--footer-background-top);
}
@media print, screen and (min-width: 64em) {
  #footer .middle h3 {
    font-size: 1.2rem;
  }
}
#footer .middle a {
  color: var(--footer-link);
}
#footer .middle a:hover {
  color: var(--footer-link-hover);
}
#footer .middle .grid-x .moduletable:nth-last-child(n+2) ~ div:last-child {
  align-self: flex-end;
}
#footer .middle ul.footer {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1;
  font-size: 0.9375rem;
  display: block;
}
#footer .middle ul.footer li {
  padding: 0;
  text-decoration: none;
  margin-bottom: 0.9375rem;
}
#footer .middle ul.footer li.active > a {
  padding: 0.3rem 0.5rem;
  margin-left: -0.5rem;
}
#footer .middle ul.footer li a {
  padding-top: 0;
  padding-bottom: 0;
}
#footer .middle ul.footer li a:hover {
  color: var(--footer-link-hover);
}
#footer .bottom {
  background: hsl(0, 0%, 94%);
  padding: 1.5rem 0 0;
  font-size: 0.8rem;
  position: relative;
}
#footer .bottom .moduletable {
  margin: 0;
}
#footer .bottom div.copyright {
  color: hsl(0, 0%, 44%);
  margin-bottom: 0.5rem;
}
@media print, screen and (min-width: 64em) {
  #footer .bottom div.copyright {
    margin-bottom: 0;
  }
}
#footer .bottom ul {
  list-style: none;
}
#footer .bottom ul.menu .active > a {
  color: hsl(0, 0%, 100%);
}
#footer .bottom ul li {
  display: block;
}
@media print, screen and (min-width: 40em) {
  #footer .bottom ul li {
    display: inline;
  }
}
#footer .bottom ul li a {
  color: hsl(0, 0%, 44%);
  padding: 0.5rem;
}
@media print, screen and (min-width: 40em) {
  #footer .bottom ul li a {
    padding: 0 0.5rem 0;
  }
}
#footer .bottom ul li a:hover {
  text-decoration: underline;
}

.kr-destinations.tabs-content {
  border: none;
}
.kr-destinations .tabs-panel.image {
  padding: 0;
}
.kr-destinations .kr-destination-detail {
  margin: var(--global-margin);
}
.kr-destinations .kr-destination-detail a.button {
  margin: 0 0 2.5rem;
}
.kr-destinations h2 {
  background: hsl(0, 0%, 100%);
  margin-top: -2.5rem;
  padding: 0.5rem;
  opacity: 0.6;
}
.kr-destinations h4 {
  margin-top: 1.5rem;
  margin-bottom: 0.4rem;
}
.kr-destinations ul, .kr-destinations p {
  font-size: 0.9rem;
  margin-bottom: 0.75rem;
}
.kr-destinations ul {
  font-size: 0.85rem;
  margin: 0;
}
.kr-destinations ul.map li:before {
  color: green;
  content: "\f030";
  display: inline-block;
  font-family: "Font Awesome 6 Free", sans-serif;
  font-weight: 900;
  width: 1.3rem;
}
.kr-destinations ul.beach li:before {
  color: blue;
  content: "\f13d";
  display: inline-block;
  font-family: "Font Awesome 6 Free", sans-serif;
  font-weight: 900;
  width: 1.3rem;
}
.kr-destinations ul.food li:before {
  color: red;
  content: "\f2e7";
  display: inline-block;
  font-family: "Font Awesome 6 Free", sans-serif;
  font-weight: 900;
  width: 1.3rem;
}
.kr-destinations ul li {
  margin-bottom: 0.5rem;
  padding: 0;
}

.blog-items {
  margin-bottom: 1rem;
}

.blog .grid-x {
  position: relative;
  border: none;
  margin: 0 auto 1.25rem;
  max-width: 18.9375rem;
}
@media print, screen and (min-width: 40em) {
  .blog .grid-x {
    text-align: left;
    max-width: 100%;
  }
}
.blog h4 {
  padding-bottom: 0.3125rem;
}

.mod-breadcrumbs {
  background-color: hsl(0, 0%, 94%);
  display: flex;
  flex-wrap: wrap;
  font-size: 0.85rem;
  list-style: none;
  margin-bottom: 2rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
}
.mod-breadcrumbs li::after {
  content: "/";
  margin: 0 0.5rem;
}
.mod-breadcrumbs li:first-child::after,
.mod-breadcrumbs li:last-child::after {
  content: "";
  margin-right: 0;
}
.mod-breadcrumbs li a:hover {
  text-decoration: underline;
}

.g-recaptcha {
  display: inline-block;
  margin-bottom: 1.5rem;
}

.intro-image {
  text-align: center;
}
@media print, screen and (min-width: 64em) {
  .intro-image {
    float: left;
    margin-left: 0 !important;
  }
}

.item-image {
  margin: 0.5rem 0 2rem;
}
@media print, screen and (min-width: 40em) {
  .item-image {
    margin: 0 2rem 2rem;
  }
}

p.readmore a, a.readmore {
  font-size: 0.9rem;
  line-height: 100%;
  color: hsl(0, 0%, 44%);
  font-weight: 700;
}

.osmap-items h2 {
  font-size: 1rem !important;
  margin-bottom: 0.3rem;
}
.osmap-items ul {
  font-size: 0.9rem;
}
.osmap-items ul.level_1 {
  flex-wrap: wrap;
  display: flex;
}
@media print, screen and (min-width: 40em) {
  .osmap-items ul.level_1 li {
    flex: 1 0 50%;
  }
}
@media print, screen and (min-width: 64em) {
  .osmap-items ul.level_1 li {
    flex: 0 0 33.3%;
  }
}

#system-message {
  margin-bottom: 0;
}

.visually-hidden, .sr-only,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

@media print {
  * {
    background: transparent !important;
    color: hsl(0, 0%, 4%) !important;
    text-shadow: none !important;
    box-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
    overflow: visible !important;
    opacity: 1;
  }
  body > * {
    font: 13pt Georgia, "Times New Roman", Times, serif;
    line-height: 1.3;
    background: hsl(0, 0%, 100%) !important;
    color: hsl(0, 0%, 4%);
  }
  .reveal-overlay,
  .reveal {
    border: none !important;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: none !important;
  }
  pre,
  blockquote {
    border: 1px solid hsl(0, 0%, 44%);
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
    page-break-after: avoid;
  }
  table {
    page-break-inside: auto !important;
    display: table !important;
    text-align: left;
    height: 100% !important;
  }
  table tr {
    page-break-inside: avoid !important;
    page-break-after: auto !important;
  }
  table td {
    text-align: left;
  }
  table.adp-directions,
  table.adp-placemark {
    page-break-after: always !important;
    display: table !important;
  }
  table.adp-directions tbody tr td div.adp-stepicon,
  table.adp-placemark tbody tr td div.adp-stepicon {
    page-break-before: auto !important;
  }
  img {
    max-width: 100% !important;
  }
  h1.logo, .logo {
    width: 100%;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h1.logo, h2, h3, h4, h5, h6, form, section {
    page-break-after: avoid;
    margin: 0;
  }
  .kr-search,
  .navbar,
  .tab-bar,
  .kr-offcanvas-left-menu,
  .main-nav,
  header,
  #footer,
  .support,
  .print,
  #printme,
  .default,
  .top-bar,
  .top-logo a img,
  #sidebar-left,
  #sidebar-right,
  .top-bar-section,
  .breadcrumbs,
  #btnPrint,
  .top-logo,
  .topnav,
  #topmenu,
  #chatlio-widget,
  .kr-carousel,
  #top,
  .reveal-modal-bg,
  .close-button {
    display: none;
    height: 0;
  }
}

/*# sourceMappingURL=template.css.map */
