body {
  background: var(--body-background);
  font-family: var(--body-font-family);
  line-height: var(--global-lineheight);
  color: var(--body-color);
}

.row {
  max-width: var(--global-width);
}

.color-primary, .font-hilite {
  color: var(--primary-color);
}

.color-secondary {
  color: var(--secondary-color);
}

.color-accent, .font-contrast {
  color: var(--accent-color);
}

.color-body {
  color: var(--body-color);
}

i.fas, i.fab {
  color: var(--primary-color);
}

.formbg {
  background-color: var(--form-background-color);
}

.button {
  background-color: var(--primary-color);
}
.button:hover {
  background-color: var(--primary-color-hover);
}
.button.primary {
  background-color: var(--primary-color);
}
.button.primary:hover {
  background-color: var(--primary-color-hover);
}
.button.secondary {
  background-color: var(--secondary-color);
}
.button.secondary:hover {
  background-color: var(--secondary-color-hover);
}
.button.accent {
  background-color: var(--accent-color);
}
.button.accent:hover {
  background-color: var(--accent-color-hover);
}
.button.alert {
  background-color: var(--alert-color);
}
.button.alert:hover {
  background-color: var(--alert-color-hover);
}
.button.success {
  background-color: var(--success-color);
}
.button.success:hover {
  background-color: var(--success-color-hover);
}
.button.warning {
  background-color: var(--warning-color);
}
.button.warning:hover {
  background-color: var(--warning-color-hover);
}

.button.hollow {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
.button.hollow:hover {
  border: 1px solid var(--primary-color-hover);
  background: hsl(0, 0%, 90%);
}
.button.hollow.primary {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
.button.hollow.primary:hover {
  border: 1px solid var(--primary-color-hover);
  background: hsl(0, 0%, 90%);
}
.button.hollow.secondary {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}
.button.hollow.secondary:hover {
  border: 1px solid var(--secondary-color-hover);
  background: hsl(0, 0%, 90%);
}
.button.hollow.accent {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}
.button.hollow.accent:hover {
  border: 1px solid var(--accent-color-hover);
  background: hsl(0, 0%, 90%);
}
.button.hollow.alert {
  border: 1px solid var(--alert-color);
  color: var(--alert-color);
}
.button.hollow.alert:hover {
  border: 1px solid var(--alert-color-hover);
  background: hsl(0, 0%, 90%);
}
.button.hollow.success {
  border: 1px solid var(--success-color);
  color: var(--success-color);
}
.button.hollow.success:hover {
  border: 1px solid var(--success-color-hover);
  background: hsl(0, 0%, 90%);
}
.button.hollow.warning {
  border: 1px solid var(--warning-color);
  color: var(--warning-color);
}
.button.hollow.warning:hover {
  border: 1px solid var(--warning-color-hover);
  background: hsl(0, 0%, 90%);
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  color: var(--header-color);
  font-family: var(--header-font-family);
  line-height: var(--header-lineheight);
}

small {
  font-size: var(--small-font-size);
}

@media print, screen and (min-width: 40.0625em) {
  h1, .h1 {
    font-size: var(--medium-h1-font-size);
  }
  h2, .h2 {
    font-size: var(--medium-h2-font-size);
  }
  h3, .h3 {
    font-size: var(--medium-h3-font-size);
  }
  h4, .h4 {
    font-size: var(--medium-h4-font-size);
  }
  h5, .h5 {
    font-size: var(--medium-h5-font-size);
  }
}
@media print, screen and (min-width: 64em) {
  h1, .h1 {
    font-size: var(--large-h1-font-size);
  }
  h2, .h2 {
    font-size: var(--large-h2-font-size);
  }
  h3, .h3 {
    font-size: var(--large-h3-font-size);
  }
  h4, .h4 {
    font-size: var(--large-h4-font-size);
  }
  h5, .h5 {
    font-size: var(--large-h5-font-size);
  }
}
.color-light {
  color: hsl(0, 0%, 79%);
}

.color-dark {
  color: hsl(0, 0%, 4%);
}

.color-label, .font-light {
  color: hsl(0, 0%, 54%);
}

.font-label {
  color: hsl(0, 0%, 54%);
  font-size: 0.8rem;
  line-height: 1.3;
}

::-moz-selection,
::selection {
  background-color: #fff3b2;
  color: hsl(0, 0%, 100%);
}

i.fas.fa-file-pdf {
  color: #ba0808;
}

.red, i.fas.red, .error-message {
  color: #cc0000 !important;
}

.whitebg {
  background-color: hsl(0, 0%, 100%);
}

*, *:before, *:after {
  box-sizing: border-box;
}

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}

.nowrap {
  white-space: nowrap;
}

.flexbox {
  display: flex;
}

.flexbox-inline {
  display: inline-flex;
}

.hideme, .flexbox.hideme, .flexbox-inline.hideme {
  display: none;
}

.addpadding {
  padding: 0.9375rem;
}

.nopadding {
  padding: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.small-margin-bottom {
  margin-bottom: 0.25rem !important;
}

.no-margin-left {
  margin-left: 0 !important;
}

h6 {
  margin-bottom: 0.4rem;
}

.smaller {
  font-size: 80%;
  line-height: 1.4;
}

.vsmall {
  font-size: 75%;
  line-height: 1.3;
}

.vsmall.legend {
  line-height: 1.6;
}

.condensed {
  letter-spacing: -0.5px;
  line-height: 1.4rem;
  margin-top: 0;
}

.notsobig {
  font-size: 130%;
  line-height: 1;
}

.big {
  font-size: 180%;
  line-height: 1;
}

.vbig {
  font-size: 220%;
  line-height: 1;
}

.xbig {
  font-size: 275%;
  line-height: 1;
}

.strong, strong {
  font-weight: 700;
}

em, .italic {
  font-style: italic;
}

ul,
ol,
dl {
  list-style: none;
}

ul.compact li {
  font-size: 90%;
  line-height: 1.5;
}

table.full {
  width: 100%;
}

table th {
  text-align: left;
}

.overlay {
  text-shadow: 1px 3px 6px rgb(55, 55, 55);
}

img.right {
  margin-left: 0.9375rem;
}

img.left {
  margin-right: 0.9375rem;
}

.kr-modal-with-rows {
  padding-left: 0;
  padding-right: 0;
}

ul.title-area li.name {
  margin-top: -3px;
}

hr {
  background: hsl(0, 0%, 79%);
  height: 1px;
  border: none;
  width: 100%;
  display: inline-block;
  margin: 1rem 0 0.25rem;
}

.g-recaptcha {
  display: inline-block;
  margin-bottom: 1.5rem;
}

.ajaxmodaldata {
  padding-top: 1.5rem;
}

.ajaxloader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -60px 0 0 -60px;
  z-index: 1000;
  opacity: 1;
  border: 16px solid hsl(0, 0%, 54%);
  border-top-color: hsl(0, 0%, 79%);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.narrower {
  max-width: 960px;
  margin: 0 auto;
}

input[type=number], .input-tiny {
  min-width: 5rem !important;
  max-width: 5rem !important;
  width: 100% !important;
  padding-left: 0.8rem !important;
  padding-right: 0.8rem !important;
}

.form-text {
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #666e76;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.gmnoprint img {
  max-width: none;
}

.goog-te-gadget-icon {
  vertical-align: middle;
  border: none;
  display: none !important;
}

#errorModal {
  background-color: var(--alert-color);
  opacity: 0.2;
}

ul.tabs {
  border: none;
  display: flex;
  flex-direction: row;
}
ul.tabs li {
  flex-grow: 1;
  min-height: 0;
  text-align: center;
  border-right: 4px solid var(--body-background);
}
@media print, screen and (min-width: 40em) {
  ul.tabs li {
    border-right: 6px solid var(--body-background);
  }
}
ul.tabs li:last-child {
  border-right: none;
}

.callout {
  padding: 0.5rem;
}
@media print, screen and (min-width: 40em) {
  .callout {
    padding: 1rem;
  }
}
@media print, screen and (min-width: 64em) {
  .callout {
    padding: 1.5rem;
  }
}
.callout.standout {
  border: 1px solid var(--primary-color);
}

ul.download {
  line-height: 2;
}

dl.fancylist {
  font-size: 15px;
}
dl.fancylist div {
  display: flex;
  margin: 5px 0 5px 0;
}
dl.fancylist dt {
  display: contents;
  font-weight: normal;
  font-style: italic;
}
dl.fancylist dt:after {
  border-bottom: 1px solid #8a8a8a;
  content: "";
  flex: 1 1 auto;
  margin: 0 12px 5px 12px;
}
dl.fancylist dd {
  flex: 0 1 auto;
  margin: 0 0 0 0;
}

img.responsive {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
@media print, screen and (min-width: 40em) {
  img.responsive {
    margin-bottom: 0;
  }
}

.input-number-group {
  display: flex;
  justify-content: center;
}
.input-number-group input[type=number]::-webkit-inner-spin-button,
.input-number-group input[type=number]::-webkit-outer-spin-button {
  appearance: none;
}
.input-number-group .input-group-button {
  line-height: calc(80px / 2 - 5px);
}
.input-number-group .input-number {
  width: 80px;
  padding: 0 0.75rem;
  vertical-align: top;
  text-align: center;
  outline: none;
  display: block;
  margin: 0;
}
.input-number-group .input-number,
.input-number-group .input-number-decrement,
.input-number-group .input-number-increment {
  border: 1px solid hsl(0, 0%, 79%);
  height: 40px;
  user-select: none;
}
.input-number-group .input-number-decrement,
.input-number-group .input-number-increment {
  background: hsl(0, 0%, 100%);
  border: 1px solid var(--primary-color);
  color: var(-primary-color);
  cursor: pointer;
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  width: 40px;
}
.input-number-group .input-number-decrement:disabled,
.input-number-group .input-number-increment:disabled {
  opacity: 0.3;
  cursor: default;
}
.input-number-group .input-number-decrement {
  margin-right: 0.5rem;
}
.input-number-group .input-number-increment {
  margin-left: 0.5rem;
}

.osmap-items {
  font-size: 94%;
}
.osmap-items h2 {
  font-size: 1.1rem !important;
  margin-bottom: 0.3rem;
  color: var(--secondary-color);
}
.osmap-items ul.level_1 {
  flex-wrap: wrap;
  display: flex;
}
@media print, screen and (min-width: 40em) {
  .osmap-items ul.level_1 li {
    flex: 1 0 50%;
  }
}
@media print, screen and (min-width: 64em) {
  .osmap-items ul.level_1 li {
    flex: 0 0 33.3%;
  }
}

.intro-image {
  text-align: center;
}
@media print, screen and (min-width: 40em) {
  .intro-image {
    float: left;
    margin-left: 0 !important;
  }
}

p.readmore a, a.readmore {
  font-size: 0.9em;
  line-height: 100%;
  color: hsl(0, 0%, 54%);
  font-weight: 700;
}

#system-message {
  margin-bottom: 0;
}

.blog .row {
  position: relative;
  border: none;
  margin: 0 auto 20px;
  max-width: 303px;
}
@media print, screen and (min-width: 40em) {
  .blog .row {
    text-align: left;
    max-width: 100%;
  }
}
.blog h4 {
  padding-bottom: 5px;
}

.item {
  position: relative;
}

.img-fulltext-none img {
  margin-bottom: 10px;
}

.item-image {
  margin: 0.5rem 2rem 2rem;
}

.visually-hidden, .sr-only,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

#footer {
  position: relative;
  padding: 0;
}
#footer .top {
  position: relative;
  padding: 1.5rem 0 0;
  background: var(--footer-background-top);
}
#footer .moduletable {
  margin-bottom: 0.5rem;
}
#footer i {
  color: var(--footer-icon);
}
#footer a i {
  color: hsl(0, 0%, 100%);
}
#footer a i:hover {
  color: var(--footer-link-hover);
}
#footer .middle {
  background: var(--footer-background);
  position: relative;
  padding: var(--global-padding) 0 1rem;
  color: hsl(0, 0%, 100%);
}
@media print, screen and (min-width: 40em) {
  #footer .middle {
    text-align: left;
  }
}
#footer .middle h3 {
  color: var(--footer-background-top);
  margin-bottom: 0.5rem;
}
#footer .middle a {
  color: var(--footer-link);
}
#footer .middle a:hover {
  color: var(--footer-link-hover);
}
#footer .middle .columns.border {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#footer .middle .columns.border .moduletable:nth-last-child(n+2) ~ div:last-child {
  margin-top: auto;
}
@media print, screen and (min-width: 40em) {
  #footer .middle .columns.border :not(:first-child) {
    border-left: 1px solid hsl(0, 0%, 79%);
  }
}
#footer .middle .row .moduletable:nth-last-child(n+2) ~ div:last-child {
  align-self: flex-end;
}
#footer .middle ul.footer {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1;
  font-size: 1rem;
  display: block;
}
#footer .middle ul.footer li {
  padding: 0;
  text-decoration: none;
  margin-bottom: 0.9375rem;
}
#footer .middle ul.footer li.active > a {
  padding: 0.3rem 0.5rem;
  margin-left: -0.5rem;
}
#footer .middle ul.footer li a {
  padding-top: 0;
  padding-bottom: 0;
}
#footer .middle ul.footer li a:hover {
  color: var(--footer-link-hover);
}
#footer .middle i.fab.fa-cc-visa, #footer .middle i.fab.fa-cc-amex, #footer .middle i.fab.fa-cc-paypal, #footer .middle i.fab.fa-cc-mastercard {
  font-size: 2rem;
}
#footer .bottom {
  background: hsl(0, 0%, 90%);
  padding: 1.5rem 0 0;
  font-size: 0.8rem;
  position: relative;
}
#footer .bottom .moduletable {
  margin: 0;
}
#footer .bottom div.copyright {
  color: hsl(0, 0%, 54%);
  margin-bottom: 0.5rem;
}
@media print, screen and (min-width: 64em) {
  #footer .bottom div.copyright {
    margin-bottom: 0;
  }
}
#footer .bottom ul {
  list-style: none;
}
#footer .bottom ul.menu .active > a {
  color: hsl(0, 0%, 100%);
}
#footer .bottom ul li {
  display: block;
}
@media print, screen and (min-width: 40em) {
  #footer .bottom ul li {
    display: inline;
  }
}
#footer .bottom ul li a {
  color: hsl(0, 0%, 54%);
  padding: 0.5rem;
}
@media print, screen and (min-width: 40em) {
  #footer .bottom ul li a {
    padding: 0 0.5rem 0;
  }
}
#footer .bottom ul li a:hover {
  text-decoration: underline;
}

#hero.home {
  position: relative;
  width: 100%;
  margin-bottom: var(--global-padding);
}
@media print, screen and (min-width: 40em) {
  #hero.home {
    background: url(../images/property.jpg) no-repeat top left;
    min-height: 330px;
    background-size: cover;
  }
}
@media print, screen and (min-width: 64em) {
  #hero.home {
    background: none;
    max-height: none;
    height: auto;
  }
}
#hero.home .kr-slideshow {
  display: none;
}
@media print, screen and (min-width: 64em) {
  #hero.home .kr-slideshow {
    display: block;
    visibility: hidden;
  }
  #hero.home .kr-slideshow.slick-initialized {
    visibility: visible;
  }
}
#hero.home .kr-slideshow .slick-slide img {
  display: block;
  height: 40vw;
  max-height: 40vw !important;
  width: 100%;
  object-fit: cover;
}
#hero.home .caption {
  position: absolute;
  top: 8.5%;
  z-index: 9999;
  width: auto;
  min-width: 200px;
  max-width: 300px;
  padding: 0.5rem;
  background: hsla(0, 0%, 100%, 0.7);
  line-height: 1.1;
}
#hero.home .caption:hover {
  background: hsla(0, 0%, 100%, 0.9);
}
#hero.home .caption a {
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 400;
}
#hero.home .spot {
  display: none;
}
@media print, screen and (min-width: 40em) {
  #hero.home .spot {
    position: absolute;
    top: 2%;
    right: 0;
    display: block;
  }
}
@media print, screen and (min-width: 64em) {
  #hero.home .spot {
    top: 3%;
    right: 2%;
  }
}
@media print, screen and (min-width: 40em) {
  #hero.home .spot img {
    width: 70%;
  }
}
@media print, screen and (min-width: 64em) {
  #hero.home .spot img {
    width: 80%;
  }
}
#hero.home i.slick-nav {
  height: auto;
  background: hsla(0, 0%, 100%, 0.7);
  color: var(--primary-color);
}
@media print, screen and (min-width: 64em) {
  #hero.home i.slick-nav {
    padding: 2.3rem 0.6rem;
    top: 40%;
  }
}
#hero.home .kr-search {
  position: relative;
  display: block;
  margin: 1rem 1.5rem;
  background: hsl(0, 0%, 100%);
  padding: 1rem 0 0;
  height: auto;
}
@media print, screen and (min-width: 40em) {
  #hero.home .kr-search {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1rem 2%;
    max-width: 240px;
    width: 100%;
    height: 300px;
    -webkit-box-shadow: 3px 5px 3px 0 rgba(50, 50, 50, 0.4);
    -moz-box-shadow: 3px 5px 3px 0 rgba(50, 50, 50, 0.4);
    box-shadow: 3px 5px 3px 0 rgba(50, 50, 50, 0.4);
  }
}
@media print, screen and (min-width: 64em) {
  #hero.home .kr-search {
    background: hsla(0, 0%, 100%, 0.7);
    box-shadow: none;
    left: 50%;
    height: auto;
    margin: 0 0 0 -480px;
    max-width: 960px;
    padding: 1rem;
    position: absolute;
    width: 100%;
  }
  #hero.home .kr-search.top {
    top: 50px;
    height: 70px;
  }
  #hero.home .kr-search.middle {
    top: 40%;
    height: 75px;
  }
  #hero.home .kr-search.bottom {
    background: hsla(0, 0%, 100%, 0.7);
    bottom: 7px;
    border: 3px solid var(--primary-color);
    border-bottom: none;
    height: 90px;
    padding: 1.5rem 1.5rem 3rem 1.5rem;
    top: unset;
  }
  #hero.home .kr-search.bottom h3 {
    margin-top: -6px;
  }
}
#hero.home .kr-search .moduletable {
  padding-bottom: 0;
}
@media print, screen and (min-width: 64em) {
  #hero.home .kr-search .columns {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
}
@media print, screen and (min-width: 64em) {
  #hero.home .kr-search .columns:first-child, #hero.home .kr-search .columns:last-child {
    padding-left: 0;
    padding-right: 0;
  }
}

#main {
  margin: 0;
}
#main .main-content {
  margin-bottom: 1rem;
}
#main .main-content,
#main .modules-above {
  width: 100%;
  padding-top: 0;
  display: block;
}
#main #sidebar-left, #main #sidebar-right {
  text-align: left;
}
#main #sidebar-right {
  margin-top: 3.5rem;
}
#main #sidebar-right > div, #main #sidebar-left > div {
  margin-bottom: var(--global-margin);
}
#main #sidebar-right button, #main #sidebar-left button {
  margin-bottom: 0;
}

.breadcrumb {
  background-color: rgba(0, 0, 0, 0.03);
  display: flex;
  flex-wrap: wrap;
  font-size: 86%;
  list-style: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
}
.breadcrumb li::after {
  content: "/";
  margin: 0 0.5rem;
}
.breadcrumb li:first-child::after,
.breadcrumb li:last-child::after {
  content: "";
  margin-right: 0;
}
.breadcrumb:hover {
  text-decoration: underline;
}

@media print {
  * {
    background: transparent !important;
    color: hsl(0, 0%, 4%) !important;
    text-shadow: none !important;
    box-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
    overflow: visible !important;
    opacity: 1;
  }
  body > * {
    font: 13pt Georgia, "Times New Roman", Times, serif;
    line-height: 1.3;
    background: hsl(0, 0%, 100%) !important;
    color: hsl(0, 0%, 4%);
  }
  .reveal-overlay,
  .reveal {
    border: none !important;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: none !important;
  }
  pre,
  blockquote {
    border: 1px solid hsl(0, 0%, 54%);
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
    page-break-after: avoid;
  }
  table {
    page-break-inside: auto !important;
    display: table !important;
    text-align: left;
    height: 100% !important;
  }
  table tr {
    page-break-inside: avoid !important;
    page-break-after: auto !important;
  }
  table td {
    text-align: left;
  }
  table.adp-directions,
  table.adp-placemark {
    page-break-after: always !important;
    display: table !important;
  }
  table.adp-directions tbody tr td div.adp-stepicon,
  table.adp-placemark tbody tr td div.adp-stepicon {
    page-break-before: auto !important;
  }
  img {
    max-width: 100% !important;
  }
  h1.logo, .logo {
    width: 100%;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h1.logo, h2, h3, h4, h5, h6, form, section {
    page-break-after: avoid;
    margin: 0;
  }
  .search,
  .navbar,
  .tab-bar,
  .left-off-canvas-menu,
  .main-nav,
  header,
  #footer,
  .support,
  .print,
  #printme,
  .default,
  .top-bar,
  .top-logo a img,
  #sidebar-left,
  #sidebar-right,
  .top-bar-section,
  .breadcrumbs,
  #btnPrint,
  .top-logo,
  .topnav,
  #topmenu,
  #chatlio-widget,
  .kr-carousel,
  #top,
  .reveal-modal-bg,
  .close-button {
    display: none;
    height: 0;
  }
}
.title-bar {
  margin-top: 2rem;
  height: 51px;
}
.title-bar .logo {
  margin-bottom: 0;
  max-width: 160px;
  width: 160px;
  overflow: visible;
}

#header {
  height: 85px;
  width: 100%;
}
#header #toprow {
  display: flex;
  justify-content: flex-end;
  background: var(--topbar-background-top);
  width: 100%;
  height: 35px;
}
#header #toprow.empty {
  background: var(--topbar-background);
}
#header #toprow a {
  font-size: 14px;
  margin-right: 1rem;
}
#header #bottomrow {
  background: var(--topbar-background);
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#header #bottomrow .top-bar-left {
  max-width: 200px;
  width: 200px;
}
#header #bottomrow .top-bar-left .logo-image {
  width: 178px;
  min-width: 178px;
  text-align: left;
  margin-top: -15px;
}
#header #bottomrow .top-bar-left .logo-image a img.logo {
  overflow: visible;
}
#header #bottomrow .top-bar-center {
  flex-grow: 1;
}
#header #bottomrow .top-bar-center ul.dropdown.menu {
  align-items: center;
  justify-content: center;
}
#header #bottomrow .top-bar-center ul.dropdown.menu > li {
  border-right: 10px solid transparent;
}
#header #bottomrow .top-bar-center ul.dropdown.menu li a {
  height: 50px;
  color: var(--topbar-link);
  font-size: 1rem;
}
#header #bottomrow .top-bar-center ul.dropdown.menu li.current a,
#header #bottomrow .top-bar-center ul.dropdown.menu li.current a:hover,
#header #bottomrow .top-bar-center ul.dropdown.menu li:hover a,
#header #bottomrow .top-bar-center ul.dropdown.menu li.is-active a {
  background-color: var(--topbar-background-active);
  color: var(--topbar-link-active);
}
#header #bottomrow .top-bar-center ul.dropdown.menu ul.submenu {
  background: var(--topbar-background-active);
  width: 200px;
}
#header #bottomrow .top-bar-center ul.dropdown.menu ul.submenu li {
  padding-top: 0;
  padding-bottom: 0;
}
#header #bottomrow .top-bar-center ul.dropdown.menu ul.submenu li:hover {
  padding-left: 8px;
  margin-left: 8px;
  width: 192px;
}
#header #bottomrow .top-bar-center ul.dropdown.menu ul.submenu li a {
  line-height: 1px;
  height: 35px;
  font-size: 0.9rem;
}
#header #bottomrow .top-bar-center ul.dropdown.menu ul.submenu li a:hover {
  background: var(--topbar-background);
  color: var(--topbar-link-active);
  margin-left: -8px;
  padding-left: 8px;
}
#header #bottomrow .top-bar-center ul.dropdown.menu ul.submenu.megamenu {
  width: 400px;
}
#header #bottomrow .top-bar-center ul.dropdown.menu ul.submenu.megamenu li {
  float: left;
  width: 200px;
  padding-right: 0;
  font-size: 0.9rem;
}
#header #bottomrow .top-bar-center ul.dropdown.menu ul.submenu.megamenu li:hover {
  padding-left: 8px;
  margin-left: 8px;
  width: 192px;
}
#header #bottomrow .top-bar-center ul.dropdown.menu ul.submenu.megamenu li a {
  padding-right: 0;
}
#header #bottomrow .top-bar-right {
  max-width: 320px;
  width: 100%;
}

ul#offcanvas.nav.menu.vertical li {
  background: var(--primary-color);
}
ul#offcanvas.nav.menu.vertical li a {
  color: hsl(0, 0%, 100%);
  border-bottom: 1px solid var(--primary-color-hover);
}
ul#offcanvas.nav.menu.vertical li a:hover {
  background: var(--primary-color-hover);
  color: hsl(0, 0%, 90%);
}

.off-canvas .close-button {
  color: hsl(0, 0%, 100%);
  z-index: 999;
  outline: none;
  right: 0.6rem;
  top: 0.6rem;
  font-size: 1.2em;
  line-height: 1;
}

/*# sourceMappingURL=template.css.map */
