@use '../resources/variables' as res;

#kr-search-map-modal {
	padding: 0;
	outline: none;
	border: 1px solid res.$white;
}
#kr-search-map-buttons {
	position: absolute;
	bottom: 2rem;
	left: 50%;
	transform: translateX(-50%)
}
#kr-search-map-disclaimer {
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 0.65rem;
	padding: 0.1rem 0.5rem;
	background: res.$light-gray;
}
#kr-search-map-full {
	width: 99.95%;
	height: 800px;
}
// Infowindow
#kr-infowindow {
	display: none;
	position: absolute;
	top: 5rem;
	left: 0.5rem;
	width: 20rem;
	padding: .5rem;
	height: auto;
	min-height: 450px;
	background: res.$white;
	line-height: 1.3rem;
	font-size: 86%;
	border: 1px solid res.$medium-gray;
	h3 {
		line-height: 1.2;
		margin: 0.5rem 0 0.2rem;
	}
	.close-button {
		color: res.$white;
		font-size: 1.5rem;
		z-index: 999;
		top: 0.8rem;
		right: 1rem;
	}
}
.kr-mapmarker {
	width: 200px;
	height: auto;
	h6, p {
		margin: 0;
		padding: 0;
	}
	.bground {
		background-repeat: no-repeat;
		background-size: 200px 150px;
		background-position: top center;
		height: 150px;
	}
}