@use '../resources/variables' as res;
@use '../../../../../ProjectKR/node_modules/foundation-sites/scss/util/_util' as mixin;

.kr-property {
	.list, .favs {
		margin: 0 auto res.$global-margin;
		position: relative;
		.slider, .content {
			text-align: justify;
		}
		h2 {
			color: res.$var-primary;
			margin-bottom: 5px;
			padding-top: 0.2rem;
		}
		.top-section {
			@include mixin.breakpoint(medium) {
				margin-bottom: 2rem;
			}
		}
		h3.tagline {
			color: res.$var-accent;
		}
		.button.expanded {
			margin-bottom: 0;
		}
		.relative-pricing {
			.pricing {
				display: flex;
				flex: 1;
				.button {
					font-size: 1rem;
					padding: 8px 0.5rem 7px;
					margin-top: auto;
					margin-bottom: 0;
					&.discounts-none {
						display: block;
						flex: 0 0 38px;
						padding: 8px 0.5rem 8px;
						width: 38px;
						:hover {
							cursor: default !important;
							background: res.$var-primary !important;
							opacity: 1 !important;
						}
					}
					&.discounts {
						display: block;
						flex: 0 0 38px;
						i.fas {
							color: res.$white;
							text-align: center;
						}
					}
					&.rate {
						color: res.$white;
						display: block;
						flex: 1 0 auto;
						font-size: 15px;
						padding-top: 8px;
						padding-bottom: 9px;
						text-align: left;
						width: 100px;
						@include mixin.breakpoint(medium) {
							padding-top: 9px;
							font-size: 14px;
						}
						@include mixin.breakpoint(large) {
							padding-top: 8px;
							font-size: 15px;
						}
					}
					&.viewproperty {
						border-left: 1px solid res.$white;
						display: block;
						flex: 0 0 9rem;
						font-size: 1rem;
						padding: 8px 0.3rem 8px 0;
						text-align: center;
						i.fas {
							color: res.$white;
							float: right;
						}
						@include mixin.breakpoint(medium) {
							display: inline;
						}
					}
				}
				.kr-search-discounts {
					.dropdown-pane {
						background: res.$var-primary;
						color: res.$white;
						width: auto;
						min-width: 300px;
						max-width: 350px;
						font-size: 0.9rem;
						padding: 0.5rem 1rem;
						text-align: left;
						line-height: 1.2;
						-webkit-box-shadow: 7px -5px 15px 0px rgba(102, 102, 102, 0.5);
						box-shadow: 7px -5px 15px 0px rgba(102, 102, 102, 0.5);
					}
				}
			}
		}
		ul {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			li {
				margin-right: 0.4rem;
			}
		}
		.badge {
			position: absolute;
			top: 0;
			left: 0;
			.triangle {
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 75px 75px 0 0;
				border-color: res.$var-accent transparent transparent transparent;
				.text {
					transform: rotate(-45deg);
					color: res.$white;
					position: absolute;
					font-weight: 700;
					top: 16px;
					left: 0;
				}
			}
		}
	}
}