#kr-dashboard-reservations {
	margin-top: 2rem;
	.stacked {
		margin-top: 1.6rem;
	}
	ul.download li {
		font-size: 1rem;
		margin-bottom: 0.5rem;
	}
}
#holder input {
	display: inline;
	max-width: 4.9rem;
	margin-right: 0.4rem;
}
address {
	font-style: normal;
}
.guestformlink.button {
	margin-top: -0.3rem;
	margin-bottom: 0;
}
.callout.financial {
	font-size: 0.8rem;
}
.button-group .button {
	font-size: 0.9375rem;
}
#showgateways {
	font-size: 1rem;
	line-height: 1.3;
}