#kr-dashboard-reservations {
	margin-top: 2rem;
	.stacked {
		margin-top: 1.6rem;
	}
}
#holder input {
	display: inline;
	max-width: 78px;
	margin-right: .4rem;
}
address {
	font-style: normal;
}
.guestformlink.button {
	margin-top: -0.3rem;
	margin-bottom: 0;
}
.callout.financial {
	font-size: 13px;
}