@use '../resources/resources' as res;
@use '../../../../node_modules/foundation-sites/scss/util/util' as mixin;

.kr-slideshow-wrapper {
    position: relative;
    .kr-properties-slideshow {
        line-height: 0;
        margin: 0;
        padding: 0;
    }
    .topcorner {
        position: absolute;
        top: 0;
        left: 0;
        .triangle {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 70px 70px 0 0;
            border-color: var(--secondary-color) transparent transparent transparent;
            .text {
                transform: rotate(-45deg);
                color: res.$white;
                position: absolute;
                font-weight: 700;
                top: 14px;
                left: 0;
                text-transform: uppercase;
            }
        }
    }
    .favspan {
        position: absolute;
        top: 6px;
        right: 16px;
        margin: 0;
        width: 2rem;
        height: 2rem;
        .fa-stack {
            line-height: 2.2rem;
            .favicon-base {
                color: res.$white;
                font-size: 2rem;
            }
            .favicon-top {
                color: res.$dark-gray;
                font-size: 1.6rem;
            }
        }
        .favicon-top.in {
            color: var(--favorite);
        }
    }
    a:not(:first-of-type) {
        display: none;
    }
    i.slick-nav {
        font-size: 2rem;
        opacity: 0;
        top: 40%;
        &.next,
        &.prev {
            background: none;
        }
    }
}
#kr-grid {
    .kr-search-pricing {
        display: flex;
        flex-direction: row;
        width: 100%;
        //.button {
        //    font-size: 0.875rem;
        //    height: 40px;
        //    margin-bottom: 0;
        //    margin-top: auto;
        //    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
        //    text-align: center;
        //    width: 100%;
        //    @include mixin.breakpoint(medium) {
        //        font-size: 0.8rem;
        //    }
        //    @include mixin.breakpoint(large) {
        //        font-size: 0.9rem;
        //    }
        //}
        .discounts {
            flex: 0 0 36px;
            &.discounts-none {
                pointer-events: none;
                width: 100%;
                &:hover {
                    cursor: default !important;
                }
            }
            i {
                color: res.$white;
                text-align: center;
                vertical-align: middle;
            }
            .button {
                font-size: 0.875rem;
                height: 40px;
                margin-bottom: 0;
                margin-top: auto;
                padding: 0.2rem 0.5rem 0.2rem 0.5rem;
                text-align: center;
                width: 100%;
                @include mixin.breakpoint(medium) {
                    font-size: 0.8rem;
                }
                @include mixin.breakpoint(large) {
                    font-size: 0.9rem;
                }
            }
        }
        .dropdown-pane {
            background: var(--primary-color);
            border-bottom: 1px solid res.$white;
            color: res.$white;
            width: auto;
            min-width: 300px;
            max-width: 350px;
            font-size: 0.85rem;
            padding: 0.5rem 1rem;
            text-align: left;
            line-height: 1.2;
            -webkit-box-shadow: 7px -5px 15px 0px rgba(102, 102, 102, 0.5);
            box-shadow: 7px -5px 15px 0px rgba(102, 102, 102, 0.5);
        }
        .price {
            flex-grow: 1;
            a.button.rate {
                color: res.$white;
                font-size: 1rem;
                height: 40px;
                line-height: 40px;
                margin: 0;
                padding: 0 0.3rem 1rem 0.5rem;
                text-align: left;
                width: 100%;
                @include mixin.breakpoint(medium) {
                    font-size: 0.9rem;
                }
                @include mixin.breakpoint(large) {
                    font-size: 1rem;
                }
            }
        }
    }
    .bookingtype {
        flex: 0 0 120px;
        .button.viewproperty {
            font-size: 1.1rem;
            height: 40px;
            line-height: 22px;
            padding: 0.5rem 0.5rem 0.5rem 1rem;
            text-align: left;
            width: 100%;
            i {
                color: res.$white;
                float: right;
                font-size: 1.5rem;
                line-height: 22px;
            }
        }
    }
}
.kr-search-section {
    .card-section {
        flex: 1 1 auto;
        flex-direction: row;
        flex-wrap: wrap;
    }
}