@use '../resources/resources' as res;
@use '../../../../node_modules/foundation-sites/scss/util/_util' as mixin;

#kr-property-slideshow.centered {
    .slick-slide {
        &.slick-active {
            &:not(.slick-current) {
                :first-child {
                    img {
                        padding-right: 15px;
                    }
                }
                :last-child {
                    img {
                        padding-left: 15px;
                    }
                }
            }
        }
        img {
             @media only screen and (max-width: 600px) {
                max-height: 400px;
                max-width: 100%;
                object-fit: contain;
                width: 100%;
            }
            //@include mixin.breakpoint(medium) {
            @media only screen and (min-width: 601px) and (max-width: 754px) {
                max-height: 500px;
                max-width: 100%;
                object-fit: contain;
                width: 100%;
            }
            //@include mixin.breakpoint(large) {
            @media only screen and (min-width: 755px) {
                height: 100%;
                max-height: 100%;
                max-width: 100%;
                width: 100%;
            }
        }
    }
    p {
        display: none;
    }
}
.kr-infowindow-slideshow {
    i.slick-nav {
        padding: 1.4rem 0.6rem;
        font-size: 1.8rem;
    }
}
#kr-property-thumbs {
    text-align: center;
    padding: 0;
    margin-top: 0.5rem;
    .slick-slide {
        opacity: 1;
        &.slick-current {
            opacity: 0.3;
        }
    }
    img {
        border: 2px solid res.$white;
        &:hover {
            cursor: pointer;
        }
    }
}