@use '../resources/resources' as res;
@use '../../../../node_modules/foundation-sites/scss/util/util' as mixin;

#kr-hero.top {
    .position-top {
        background: var(--primary-color);
    }
    #kr-offcanvas-top-search {
        background: var(--primary-color);
        top: 3.2rem;
        @include mixin.breakpoint(large) {
            height: auto;
            top: 0;
        }
    }
    .kr-search .hero-sticky {
        background: res.$white;
        margin: 1.5rem auto;
        max-width: 300px;
        padding: 1rem 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        .button {
            margin-bottom: 0;
        }
        @include mixin.breakpoint(large) {
            background: res.$white;
            box-shadow: 0 10px 6px -6px res.$dark-gray;
            display: block;
            height: 80px !important;
            margin: 0 0 var(--global-margin) 0;
            max-width: none;
            padding: 1.25rem 0;
            top: 0 !important;
            width: 100%;
            z-index: 10;
            .button {
                border: 1px solid var(--primary-color);
            }
        }
    }
}