$var-primary: #003c71;
$var-secondary: #af8500;
$var-accent: scale-color($var-primary, $lightness: -50%);
$var-neutral: #f5f5f5;
$var-success: #9dc9a3;
$var-warning: #ff781f;
$var-alert: #a80000;
$var-gray: #8a8a8a;
$var-red: #cc0000;
$var-black-light: #333333;
$var-favorite: #f02a72;
$var-form-bg: #f6f6f6;
$var-hover: scale-color($var-primary, $lightness: 10%);
$var-body-bg: #fefefe;
$var-body-font-color: #444444;
$var-footer-bg: $var-primary;
$var-footer-bg-top: $var-secondary;
$var_button_background: $var_primary;
$var-font-family: Arial, sans-serif;
$var-header-font-color: $var-primary;
$var-header-font-family: 'Open Sans', Arial, sans-serif;
$var-line-height: 1.5;
$var-spacing: 2rem;
$var-line-height-header: 1.3;
$var-medium-h1-font-size: 30;
$var-medium-h2-font-size: 26;
$var-medium-h3-font-size: 20;
$var-medium-h4-font-size: 18;
$var-medium-h5-font-size: 16;
$var-large-h1-font-size: 32;
$var-large-h2-font-size: 28;
$var-large-h3-font-size: 22;
$var-large-h4-font-size: 18;
$var-large-h5-font-size: 17;
$var-small-font-size: 75%;
// KRFunctions template sccs fields
$var-topbar-bg: $var-primary;
$var-topbar-links: $var-primary;
$var-menu-active-bg: $var-primary;
$var-callout: scale-color($var-primary, $lightness: 50%);
$var-callout-dark: scale-color($var-neutral, $lightness: -30%);
$var-callout-form: scale-color($var-primary, $lightness: 75%);
$var-callout-border: $var-primary;
$var-modal-bg: scale-color($var-primary, $lightness: 90%);