@use '../resources/resources' as res;

span.jq-dte {
	display: inline-block;
	position: relative;
	padding: 0;
	margin: 0 0 1rem 0;
	text-align: center;
	input[type="text"] {
		display: inline;
		box-shadow: none;
		text-align: center;
		&.error {
			background-color: scale-color(res.$krtheme-red, $lightness: 90%);
		}
	}
	span.jq-dte-inner {
		border: none;
		padding: 0;
		margin: 0;
		white-space: nowrap;
		.jq-dte-day, .jq-dte-month {
			padding: 0;
			margin: 0;
			white-space: nowrap;
			width: 36px !important;
		}
		.jq-dte-year {
			padding: 0;
			margin: 0;
			white-space: nowrap;
			width: 52px !important;
		}
		span.separator {
			color: res.$dark-gray;
			padding: 0 5px;
		}
	}
	span.jq-dte-errorbox {
		display: inline-block;
		font-size: 13px;
		background-color: scale-color(res.$krtheme-red, $lightness: 90%);
		height: 37px;
		margin: -5px 0 0;
		padding: 8px 6px;
		white-space: nowrap;
	}
}