@use '../resources/resources' as res;

.kr-property-quote {
	background: res.$light-gray;
	margin-top: -3.5rem;
	padding: 0.5rem 1rem 0;
	.kr-quote-heading {
		padding-top: 0;
		text-align: center;
	}
	.help {
		font-size: 90%;
		text-align: center;
	}
	#kr-bookmodule {
		padding: 0;
		margin-bottom: var(--global-margin);
		h4, h6 {
			margin-bottom: 0;
			color: var(--body-color);
		}
		.total-price {
			color: var(--primary-color);
			font-size: 1.8rem;
		}
		.discount {
			color: var(--alert-color);
			i {
				color: var(--alert-color);
			}
		}
		.deposit {
			color: var(--primary-color);
			font-size: 1.5rem;
			margin-top: 0.5rem;
			i {
				color: var(--primary-color);
			}
		}
		.booknow {
			margin-top: 1rem;
			.button {
				font-size: 1.3rem;
			}
		}
		.booking-summary {
			margin: 0;
			padding: 0.5rem;
			p {
				margin-bottom: 0.2rem;
				font-size: 0.9rem;
			}
		}
	}
}