@use '../resources/resources' as res;

.kr-property {
	.image-wrapper {
		position: relative;
		line-height: 0;
		padding: 0;
		margin: 0;
		.price {
			position: absolute;
			left: 0;
			bottom: 8%;
			opacity: 0.8;
			width: 75%;
			padding: 1.5% 3%;
			color: res.$white;
			font-style: italic;
			font-weight: 400;
			font-size: 13px;
		}
	}
	.favspan {
		position: absolute;
		top: 3%;
		right: 3%;
		width: 3rem;
		height: 3rem;
		margin: 0;
		.fa-stack {
			height: 3rem;
			line-height: 3rem;
			width: 3rem;
			.favicon-base {
				color: res.$white;
				font-size: 3rem;
			}
			.favicon-top {
				color: res.$dark-gray;
				font-size: 2rem;
			}
		}
		.favicon-top.in {
			color: var(--krtheme-favorite);
		}
	}
}