@use '../resources/resources' as res;
@use '../../../../../node_modules/foundation-sites/scss/util/util' as mixin;

.kr-properties {
	.kr-searchbar {
		margin-bottom: 0;
		a.button {
			&.is-active {
				background: var(--primary-color-hover) !important;
				cursor: default;
			}
			i {
				color: res.$white;
			}
		}
		.button-group {
			margin-bottom: 0;
		}
	}
	// Top sort and filters
	.kr-sortby.top,
	.kr-filters.top {
		width: 100%;
		justify-content: flex-start;
		background: var(--primary-color);
		color: res.$white;
		padding: 0.5rem;
		margin-bottom: 2px;
		font-size: 13px;
		ul.filter-sort-list {
			margin: 0;
			padding: 0;
			flex: 1;
			li {
				padding: 0.2rem 0.3rem;
				&.head {
					font-weight: 400;
				}
			}
		}
		input[type="checkbox"].checkover + label.checklabel,
		input[type="radio"].radioover + label.radiolabel,
		input[type="checkbox"].checkover + label.checklabel:before,
		input[type="radio"].radioover + label.radiolabel:before {
			color: res.$white;
			font-size: 14px;
		}
	}
	// Sidebar filter
	//.kr-filters-reset {
	//	width:25%;
	//	cursor:pointer;
	//}
	//#kr-properties-filters {
	//	margin: 0;
	//	padding: 0;
	//	width: 100%;
	//	h3 {
	//		float: left;
	//		margin-bottom: 1rem;
	//	}
	//	.kr-filters-reset {
	//		margin-bottom: 0;
	//		color: var(--primary-color);
	//		padding: 0.5rem 0 0 0;
	//		i {
	//			color: var(--primary-color);
	//		}
	//	}
	//	ul.filter-sort-list {
	//		width: 100%;
	//		margin: 1rem 0;
	//		padding: 0;
	//		background: res.$white;
	//		list-style: none;
	//		&:first-of-type {
	//			margin-top: 0;
	//		}
	//		input[type="checkbox"].checkover + label.checklabel:before {
	//			color: var(--primary-color);
	//			vertical-align: bottom;
	//		}
	//		li {
	//			margin: 0;
	//			position: relative;
	//			&.head {
	//				margin-bottom: 0.75rem;
	//				font-weight: 400;
	//				&.button {
	//					text-align: left;
	//				}
	//			}
	//			&.head:after {
	//				content: "\f078";
	//				font-family: 'Font Awesome 5 Free', sans-serif;
	//				font-size: 1.2rem;
	//				font-weight: 900;
	//				position: absolute;
	//				right: 0.6rem;
	//				top: 0.4rem;
	//			}
	//			&.head.active:after {
	//				content: "\f077";
	//				font-family: 'Font Awesome 5 Free', sans-serif;
	//				font-size: 1.2rem;
	//				font-weight: 900;
	//				position: absolute;
	//				right: 0.6rem;
	//				top: 0.4rem;
	//			}
	//			label.disabled {
	//				opacity: 0.5;
	//				&:hover {
	//					color: res.$body-font-color !important;
	//				}
	//			}
	//		}
	//	}
	//}
	.kr-mobilebar {
		margin-top: 0.5rem;
		margin-bottom: 1rem;
		li {
			background: var(--primary-color);
		}
		button {
			padding: 1rem 0.5rem;
		}
	}
	.kr-properties-header {
		margin-bottom: var(--global-margin);
		h3 {
			text-transform: uppercase;
			margin-bottom: 0;
			margin-top: 1.25rem;
		}
	}
	#kr-properties-data,
	#kr-properties-data-off-canvas {
		min-height: 387px;
		position: relative;
	}
}
#kr-properties-filters-off-canvas,
#kr-properties-sortby-off-canvas {
	background: var(--primary-color);
	.actions {
		line-height: 1.4rem;
		padding: 0.2rem 0.5rem;
		border-bottom: 1px solid res.$black;
		.button-group {
			margin-bottom: 0;
		}
		.button.clear {
			color: res.$white;
			margin-bottom: 0;
		}
		i.fas {
			color: res.$white;
		}
	}
	ul.filter-sort-list {
		margin-bottom: 0;
		li {
			display: block;
			float: none;
			color: res.$white;
			margin: 0;
			padding: 0.3rem 0.5rem;
			line-height: 1.4rem;
			border-bottom: 1px solid res.$black;
			font-size: 0.9rem;
			&.head {
				text-transform: uppercase;
				text-align: left;
			}
			label.radiolabel,
			label.checklabel {
				align-items: center;
				color: res.$white;
				display: flex;
				font-size: 0.8rem;
				font-weight: 400;
				padding-left: 0.5rem;
				padding-right: 0.5rem;
				&:before {
					color: res.$white;
					margin-right: 0.3rem;
				}
			}
		}
	}
	// Filters close button
	.filters-close {
		position: absolute;
		top: 0.5rem;
		right: 1.5rem;
	}
	.filters-close:after {
		content: "\f00d";
		font-family: 'Font Awesome 5 Free', sans-serif;
		color: res.$dark-gray;
		font-size: 1.3rem;
		font-weight: 900;
	}
}
