@use '../resources/resources' as res;
@use '../../../../../node_modules/foundation-sites/scss/util/util' as mixin;

.card {
    &:hover {
        .slick-btn {
            opacity: 0.9;
        }
        box-shadow: inset 1px 0 1px 0 rgba(0, 0, 0, 0.1), 2px 0 2px -2px rgba(0, 0, 0, 0.3), 0 5px 3px -3px rgba(119, 119, 119, 0.6);
    }
    .card-section {
        h2 {
            color: var(--primary-color);
            margin-bottom: 5px;
            padding-top: 1rem;
            @include mixin.breakpoint(medium) {
                padding-top: 0.2rem;
            }
        }
        h3.tagline {
            color: var(--accent-color);
        }
        .info {
            font-size: 0.8rem;
            color: var(--body-color);
        }
        .amenities {
            margin: 0.5rem 0;
            .badge {
                border-radius: 40px;
                background: res.$white;
                color: var(--body-color);
                font-size: 11px;
                height: 18px;
                margin-right: 5px;
                padding: .1rem .3rem;
                white-space: nowrap;
                width: auto;
            }
        }
        .rating {
            div {
                background-color: var(--accent-color);
                width: 60px;
                height: 30px;
                border-radius: 40px;
                color: white;
                font-size: 1.6rem;
                p {
                    text-align: center;
                    padding: 3px;
                    font-size: 1rem;
                }
                .fa-star {
                    color: #f0c230;
                }
            }
        }
    }
}