@use '../resources/resources' as res;

.kr-properties .items .thumb {
	#ptext {
		background: res.$light-gray;
		border: 1px solid res.$dark-gray;
		padding: 1rem 0.5rem;
		height: 387px;
	}
	h2 {
		font-size: 1.5rem;
		font-weight: bold;
	}
	a img.thumbgrid {
		width: 100%;
	}
}