@use '../resources/resources' as res;
@use '../../../../../node_modules/foundation-sites/scss/util/_util' as mixin;

#kr-thumb {
    #pinfo {
        background-color: res.$light-gray;
        border: 1px solid res.$medium-gray;
        min-height: 387px;
        margin-bottom: 1rem;
        padding: 1rem;
        h4 {
            color: res.$black-light;
        }
        p {
            font-size: 14px;
            color: res.$dark-gray;
        }
    }
    .container img {
        border: 1px solid res.$black;
        display: block;
        height: 100%;
        object-fit: cover;
        max-height: 100%;
        max-width: 100%;
        width: 100%;
    }
    .thumbs {
        display: grid;
        grid-gap: 6px;
        @include mixin.breakpoint(small) {
            grid-template-columns: repeat(3, 30.8vw);
            grid-column-gap: 6px;
            grid-auto-rows: 30.8vw;
        }
        @include mixin.breakpoint(medium) {
            grid-template-columns: repeat(6, 15.5vw);
            grid-column-gap: 6px;
            grid-auto-rows: 15.5vw;
        }
        @include mixin.breakpoint(large) {
            grid-template-columns: 90px 90px 90px 90px 90px 90px;
            grid-template-rows: 90px 90px 90px 90px 90px 90px;
        }
    }
}