@use '../resources/resources' as res;

/* Geriatric calendar */
/* Legend */
table.legend {
	border: none;
	border-collapse: separate;
	border-spacing: 1px;
	table-layout: fixed;
	padding: 0;
	display: inline-table;
	margin: 0 0 5px 10px;
	font-size: 11px;
	width: auto;
	tr,
	tr td {
		padding: 0;
		border: 0;
		line-height: 1;
	}
	tr td div {
		width: 16px;
		height: 16px;
		border-width: 16px;
		border-style: solid;
		margin-right: 3px;
		&.duo {
			border-width: 8px;
		}
	}
}
/* Calendar */
#calendardata {
	margin: 0 auto;
}
/* Monthly calendar */
table.amonth {
	border: none;
	border-collapse: separate;
	border-spacing: 1px;
	table-layout: fixed;
	width: 150px;
	padding: 0;
	display: inline-table;
	margin: 0 0 10px;
	tr th,
	tr td,
	p {
		text-align: center;
		font-family: Verdana, Arial, sans-serif;
		color: #444;
		font-weight: normal;
		font-size: 10px;
	}
	tr {
		padding: 0;
		margin: 0;
		background: res.$white;
		&.monthrow th,
		&.daysrow th {
			font-weight: 400;
			background: #8a8a8a;
			color: res.$white;
			padding: 0;
			height: 16px;
		}
		&.daysrow th {
			background: #b0b0b0;
			color: res.$white;
		}
		td {
			text-align: center;
			padding: 0;
			div {
				border-width: 20px;
				border-style: solid;
				position: relative;
				height: 0;
				width: 0;
				&.duo {
					border-width: 10px;
				}
				&.bgblank {
					border-top-color: res.$white;
					border-left-color: res.$white;
					border-bottom-color: res.$white;
					border-right-width: 0;
					border-bottom-width: 0;
					p.day {
						color: res.$white;
					}
				}
				&.bgtoday {
					border-top-color: #cacaca;
					border-left-color: #cacaca;
					p.day {
						color: #cc0000;
					}
				}
				&.bgpast {
					border-top-color: #cacaca;
					border-left-color: #cacaca;
					border-right-width: 0;
					border-bottom-width: 0;
				}
				&.bookme p.day,
				&.bgtoavail p.day {
					color: #333;
				}
				&.nostart {
					p.day {
						opacity: 0.4;
						font-weight: normal;
					}
				}
				p {
					font-size: 10px !important;
					line-height: 0;
					margin: 0;
					padding: 0;
					position: absolute;
					width: 20px;
				}
				&.solo p.day {
					top: -10px;
					left: -20px;
				}
				&.duo p.day {
					left: -10px;
				}
			}
		}
	}
}
.dw-calendar table {
	margin: 0;
}
.dw-calendar th {
	line-height: 1;
}