@use '../resources/resources' as res;
@use '../../../../../node_modules/foundation-sites/scss/util/util' as mixin;

.kr-property {
    .list, .favs {
        margin: 0 auto var(--global-margin);
        position: relative;
        .slider, .content {
            text-align: justify;
        }
        .badge {
            position: absolute;
            top: 0;
            left: 0;
            .triangle {
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 75px 75px 0 0;
                border-color: var(--accent-color) transparent transparent transparent;
                .text {
                    transform: rotate(-45deg);
                    color: res.$white;
                    position: absolute;
                    font-weight: 700;
                    top: 16px;
                    left: 0;
                }
            }
        }
    }
}