@use '../resources/resources' as res;
@use '../../../../../node_modules/foundation-sites/scss/util/_util' as mixin;

.kr-slick {
    position: relative;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
    &.slick-initialized {
        visibility: visible;
        opacity: 1;
    }
}
.slideshow-wrapper {
    margin-bottom: var(--global-margin);
}
.slickarrow {
    color: var(--primary-color);
}
i.slick-nav {
    border: 0;
    cursor: pointer;
    display: block;
    font-size: 2rem;
    line-height: 0;
    opacity: 0.6;
    outline: 0;
    //padding: 1.6rem 0.8rem;
    position: absolute;
    top: 47%;
    z-index: 1;
    @include mixin.breakpoint(large) {
        font-size: 2.2rem;
    }
    &.fa-solid {
        color: res.$white;
    }
    &.prev {
        left: 0;
        background: var(--primary-color);
    }
    &.next {
        right: 0;
        background: var(--primary-color);
    }
    &:hover {
        opacity: 0.9;
    }
}
.kr-double-arrows {
    cursor: pointer;
    float: right;
    position: relative;
    margin-top: 1.5rem;
    width: 4rem;
    i.slick-nav {
        font-size: 1.8rem;
        top: -0.6rem;
        background: none;
        padding: 0;
        opacity: 1;
        &.prev {
            left: 0;
        }
        &.next {
            right: 0;
        }
        &.fa-solid {
            color: var(--primary-color);
        }
    }
}
.slick-disabled {
    opacity: 0.3 !important;
}
.slick-btn {
    color: res.$white;
    cursor: pointer;
    font-size: 2rem;
    padding: 20px 10px;
    position: absolute;
    opacity: 0;
    top: 40%;
    z-index: 20;
    &.prev {
        left: 0;
    }
    &.next {
        right: 0;
    }
}
.slick-slide {
    opacity: 0.5;
    &.slick-current {
        opacity: 1;
    }
}
#kr-property-thumbs {
    margin: 0 auto;
    text-align: center;
    .slick-slide {
        opacity: 1;
        &.slick-current {
            opacity: 0.3;
        }
    }
}