@use '../resources/resources' as res;

.color-light {
	color: res.$medium-gray;
}
.color-dark {
	color: res.$black;
}
.color-label, .font-light {
	color: res.$dark-gray;
}
.font-label {
	color: res.$dark-gray;
	font-size: 0.8rem;
	line-height: 1.3;
}
::-moz-selection,
::selection {
	background-color: #fff3b2;
	color: res.$white;
}
.red, i.solid.red, .error-message {
	color: var(--alert-color) !important;
}
.green, i.solid.green {
	color: var(--success-color) !important;
}
.custom-color {
	color: var(--custom-color);
}