@use '../resources/resources' as res;
@use '../../../../node_modules/foundation-sites/scss/util/util' as mixin;
.item {
	position: relative;
}
.img-fulltext-none img {
	margin-bottom: 0.625rem;
}
.kr-flex-center-small {
	display: flex;
	justify-content: center;
	@include mixin.breakpoint(medium) {
		justify-content: left;
	}
}