@use '../resources/resources' as res;
@use '../../../../node_modules/foundation-sites/scss/util/util' as mixin;

.staticpane {
    overflow-y: scroll;
    position: fixed;
    width: 100%;
}
.grid-x {
    max-width: var(--global-width);
}
.color-primary, .font-hilite {
    color: var(--primary-color);
}
.color-secondary {
    color: var(--secondary-color);
}
.color-accent {
    color: var(--accent-color);
}
.body-font-color {
    color: var(--body-font-color) !important;
}
.color-custom {
    color: var(--custom-color);
}
@mixin kr-button-color($color, $hover) {
    background-color: $color;
    &:hover {
        background-color: $hover;
    }
}
.button {
    @include kr-button-color(var(--primary-color), var(--primary-color-hover));
    &.primary {
        @include kr-button-color(var(--primary-color), var(--primary-color-hover));
    }
    &.secondary {
        @include kr-button-color(var(--secondary-color), var(--secondary-color-hover));
    }
    &.accent {
        @include kr-button-color(var(--accent-color), var(--accent-color-hover));
    }
    &.alert {
        @include kr-button-color(var(--alert-color), var(--alert-color-hover));
    }
    &.success {
        @include kr-button-color(var(--success-color), var(--success-color-hover));
    }
    &.warning {
        @include kr-button-color(var(--warning-color), var(--warning-color-hover));
    }
}
@mixin kr-button-hollow($color, $hover) {
    background: none;
    border: 1px solid $color;
    color: $color;
    &:hover, &:focus {
        border: 1px solid $hover;
        background: res.$light-gray;
    }
}
.button.hollow {
    @include kr-button-hollow(var(--primary-color), var(--primary-color-hover));
    &.primary {
        @include kr-button-hollow(var(--primary-color), var(--primary-color-hover));
    }
    &.secondary {
        @include kr-button-hollow(var(--secondary-color), var(--secondary-color-hover));
    }
    &.accent {
        @include kr-button-hollow(var(--accent-color), var(--accent-color-hover));
    }
    &.alert {
        @include kr-button-hollow(var(--alert-color), var(--alert-color-hover));
    }
    &.success {
        @include kr-button-hollow(var(--success-color), var(--success-color-hover));
    }
    &.warning {
        @include kr-button-hollow(var(--warning-color), var(--warning-color-hover));
    }
}