@use '../resources/variables' as res;
@use '../../../../../node_modules/foundation-sites/scss/util/_util' as mixin;

.font-label {
	color: res.$dark-gray;
	font-size: 0.8rem;
	line-height: 1.3;
}
.color-primary, .font-hilite {
	color: res.$var-primary;
}
.color-secondary {
	color: res.$var-secondary;
}
.color-hover, .font-hilite2 {
	color: res.$var-hover;
}
.color-accent, .font-contrast {
	color: res.$var-accent;
}
.color-body {
	color: res.$var-body-font-color;
}
.color-light  {
	color: res.$medium-gray;
}
.color-dark {
	color: res.$black;
}
.color-label, .font-light {
	color: res.$dark-gray;
}
i.fas, i.fab {
	color: res.$var-primary;
}
::-moz-selection,
::selection {
	background: #fff3b2;
	color: res.$white;
}
i.fas.fa-file-pdf {
	color: #ba0808;
}
.red, i.fas.red {
	color: #cc0000;
}
.whitebg {
	background: res.$white;
}