@use '../resources/resources' as res;
@use '../../../../../node_modules/foundation-sites/scss/util/util' as mixin;

#footer {
	position: relative;
	padding-top: var(--global-padding);
	.top {
		position: relative;
		padding: 1.5rem 0 0;
		background: var(--footer-background-top);
	}
	.moduletable {
		margin-bottom: 0.5rem;
	}
	i {
		color: var(--footer-icon);
	}
	a i {
		color: res.$white;
		&:hover {
			color: var(--footer-link-hover);
		}
	}
	.middle {
		background: var(--footer-background);
		position: relative;
		padding: var(--global-padding) 0 1rem;
		color: res.$white;
		@include mixin.breakpoint(medium) {
			text-align: left;
		}
		h3 {
			color: var(--footer-background-top);
			margin-bottom: 0.5rem;
		}
		a {
			color: var(--footer-link);
			&:hover {
				color: var(--footer-link-hover);
			}
		}
		.grid-x {
			.moduletable {
				&:nth-last-child(n+2) ~ div:last-child {
					align-self: flex-end;
				}
			}
		}
		ul.footer {
			margin: 0;
			padding: 0;
			list-style: none;
			line-height: 1;
			font-size: 1rem;
			display: block;
			li {
				padding: 0;
				text-decoration: none;
				margin-bottom: 0.9375rem;;
				&.active > a {
					padding: 0.3rem 0.5rem;
					margin-left: -0.5rem;
				}
				a {
					padding-top: 0;
					padding-bottom: 0;
					&:hover {
						color: var(--footer-link-hover);
					}
				}
			}
		}
		i.fab {
			&.fa-cc-visa,
			&.fa-cc-amex,
			&.fa-cc-paypal,
			&.fa-cc-mastercard {
				font-size: 2rem;
			}
		}
	}
	.bottom {
		background: res.$light-gray;
		padding: 1.5rem 0 0;
		font-size: .8rem;
		position: relative;
		.moduletable {
			margin: 0;
		}
		div.copyright {
			color: res.$dark-gray;
			margin-bottom: 0.5rem;
			@include mixin.breakpoint(large) {
				margin-bottom: 0;
			}
		}
		ul {
			&.menu .active > a {
				color: res.$white;
			}
			list-style: none;
			li {
				display: block;
				@include mixin.breakpoint(medium) {
					display: inline;
				}
				a {
					color: res.$dark-gray;
					padding: 0.5rem;
					@include mixin.breakpoint(medium) {
						padding: 0 0.5rem 0;
					}
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}