@use '../resources/resources' as res;
@use '../../../../../node_modules/foundation-sites/scss/util/_util' as mixin;

#hero {
    clear: both;
    position: relative;
    width: 100%;
    &.home {
        @include mixin.breakpoint(medium) {
            background: none;
            max-height: none;
            height: auto;
        }
        .kr-slideshow {
            display: none;
            @include mixin.breakpoint(medium) {
                display: block;
                visibility: hidden;
                &.slick-initialized {
                    visibility: visible;
                }
            }
            .slick-slide img {
                display: block;
                width: 100%;
                object-fit: cover;
            }
        }
        .caption {
            background: hsla(0, 0%, 100%, 0.7);
            bottom: 8px;
            line-height: 1;
            padding: 0.5rem 1rem;
            position: absolute;
            width: auto;
            z-index: 9999;
            &:hover {
                background: hsla(0, 0%, 100%, 0.9);
            }
            a {
                color: var(--primary-color);
                font-size: 1rem;
                font-weight: 400;
            }
        }
        .spot {
            display: none;
            @include mixin.breakpoint(medium) {
                position: absolute;
                top: 2%;
                right: 0;
                display: block;
            }
            @include mixin.breakpoint(large) {
                top: 3%;
                right: 2%;
            }
            img {
                @include mixin.breakpoint(medium) {
                    width: 70%;
                }
                @include mixin.breakpoint(large) {
                    width: 80%;
                }
            }
        }
        i.slick-nav {
            height: auto;
            background: hsla(0, 0%, 100%, 0.7);
            color: var(--primary-color);
            @include mixin.breakpoint(large) {
                padding: 2.2rem 0.6rem;
                top: 40%;
            }
        }
    }
    &.subpage {
        background: res.$white;
        padding: 1rem 0 0;
        box-shadow: 0 10px 6px -6px res.$dark-gray;
        margin-bottom: var(--global-margin);
    }
}