@use '../resources/resources' as res;
@use '../../../../../node_modules/foundation-sites/scss/util/_util' as mixin;

#hero {
    clear: both;
    position: relative;
    width: 100%;
    &.home {
        @include mixin.breakpoint(small) {
            height: 300px;
            img {
                background-size: cover;
                height: 300px;
                margin-bottom: 1.5rem;
                min-height: 300px;
            }
        }
        @include mixin.breakpoint(large) {
            height: 100%;
            .kr-slideshow {
                @include mixin.breakpoint(large) {
                    display: block;
                    height: auto;
                    visibility: hidden;
                    &.slick-initialized {
                        visibility: visible;
                    }
                    .slick-slide img {
                        display: block;
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
                .caption {
                    background: hsla(0, 0%, 100%, 0.7);
                    bottom: 32px;
                    line-height: 1;
                    padding: 0.5rem 1rem;
                    position: absolute;
                    width: auto;
                    z-index: 99;
                    &:hover {
                        background: hsla(0, 0%, 100%, 0.9);
                    }
                    a {
                        color: var(--primary-color);
                        font-size: 1rem;
                        font-weight: 400;
                    }
                }
            }
        }
        i.slick-nav {
            color: res.$white;
            background: none;
            font-size: 3rem;
            height: auto;
            @include mixin.breakpoint(large) {
                padding: 2.2rem 0.6rem;
                top: 40%;
            }
        }
        .spot {
            display: none;
            @include mixin.breakpoint(medium) {
                position: absolute;
                top: 2%;
                right: 0;
                display: block;
            }
            @include mixin.breakpoint(large) {
                top: 3%;
                right: 2%;
            }
            img {
                @include mixin.breakpoint(medium) {
                    width: 70%;
                }
                @include mixin.breakpoint(large) {
                    width: 80%;
                }
            }
        }
        .kr-search {
            position: relative;
            display: block;
            margin: 0.3rem 0 0;
            background: res.$white;
            padding: 0;
            @include mixin.breakpoint(small) {
                position: absolute;
                top: 0;
                left: 0;
                height: 290px;
                margin: 0.3rem 0 0;
                max-width: 240px;
                padding: 1rem 0 0;
                width: 100%;
                -webkit-box-shadow: 3px 5px 3px 0 rgba(50, 50, 50, 0.4);
                -moz-box-shadow: 3px 5px 3px 0 rgba(50, 50, 50, 0.4);
                box-shadow: 3px 5px 3px 0 rgba(50, 50, 50, 0.4);
                .button {
                    margin-bottom: 1rem;
                }
            }
            @include mixin.breakpoint(large) {
                background: hsl(0, 0%, 98%);
                box-shadow: none;
                margin: 0;
                max-width: 960px;
                left: 50%;
                top: 47%;
                width: 100%;
                text-align: center;
                transform: translate(-50%, -50%);
                &.top {
                    top: 20px;
                    height: 70px;
                }
                &.middle {
                    top: 47%;
                    height: 70px;
                }
                &.bottom {
                    background: hsla(0, 0%, 100%, 0.7);
                    bottom: 0;
                    border: 1px solid var(--primary-color);
                    border-bottom: none;
                    height: 90px;
                    padding: 1.5rem 1.5rem 3rem 1.5rem;
                    top: unset;
                    h3 {
                        margin-top: -6px;
                    }
                }
            }
            .button {
                margin-bottom: 0;
            }
        }
    }
    &.subpage {
        background: res.$white;
        box-shadow: 0 10px 6px -6px res.$dark-gray;
        height: 70px;
        margin-bottom: var(--global-margin);
        padding: 1rem 0 0;
        .kr-search {
            background: none;
            position: relative;
            padding: 0 1rem;
            .button {
                margin-bottom: 0;
            }
        }
    }
    .moduletable {
        margin-bottom: 0;
    }
}