#main {
	margin-top: 1rem;
	.main-content {
		.modules-above {
			display: block;
		}
	}
	#sidebar-left {
		text-align: left;
	}
	#sidebar-right {
		margin-top: 3.5rem;
		text-align: left;
	}
	#sidebar-right > div, #sidebar-left > div {
		margin-bottom: var(--global-margin);
	}
	#sidebar-right button, #sidebar-left button {
		margin-bottom: 0;
	}
}
.breadcrumb {
	background-color: rgba(0, 0, 0, .03);
	display: flex;
	flex-wrap: wrap;
	font-size: 13px;
	list-style: none;
	margin-top: 0;
	margin-bottom: 1rem;
	padding: 0.5rem;
	li::after {
		content: "/";
		margin: 0 0.5rem;
	}
	li:first-child::after,
	li:last-child::after {
		content: "";
		margin-right: 0;
	}
	li a:hover {
		text-decoration: underline;
	}
}
#kr-overlay {
	background-color: rgba(0, 0, 0, 0.7);
	bottom: 0;
	cursor: pointer;
	display: none;
	height: 100%;
	opacity: 0.8;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 0;
}
.off-canvas {
	background: var(--topbar-background-top);
}