@use '../resources/resources' as res;

@media print {
	* {
		background: transparent !important;
		color: res.$black !important;
		text-shadow: none !important;
		box-shadow: none !important;
		filter: none !important;
		-ms-filter: none !important;
		overflow: visible !important;
		opacity: 1;
	}
	body > * {
		font: 13pt Georgia, "Times New Roman", Times, serif;
		line-height: 1.3;
		background: res.$white !important;
		color: res.$black;
	}
	.reveal-overlay,
	.reveal {
		border: none !important;
		width: 100% !important;
		height: 100% !important;
		margin: 0 !important;
		padding: 0 !important;
	}
	a,
	a:visited {
		text-decoration: underline;
	}
	a[href]:after {
		content: none !important;
	}
	pre,
	blockquote {
		border: 1px solid res.$dark-gray;
		page-break-inside: avoid;
	}
	thead {
		display: table-header-group;
	}
	tr,
	img {
		page-break-inside: avoid;
		page-break-after: avoid;
	}
	table {
		page-break-inside: auto !important;
		display: table !important;
		text-align: left;
		height: 100% !important;
	}
	table tr {
		page-break-inside: avoid !important;
		page-break-after: auto !important;
	}
	table td {
		text-align: left;
	}
	table.adp-directions,
	table.adp-placemark {
		page-break-after: always !important;
		display: table !important;
		tbody tr td div.adp-stepicon {
			page-break-before: auto !important;
		}
	}
	img {
		max-width: 100% !important;
	}
	h1.logo, .logo {
		width: 100%;
	}
	p, h2, h3 {
		orphans: 3;
		widows: 3;
	}
	h1.logo, h2, h3, h4, h5, h6, form, section {
		page-break-after: avoid;
		margin: 0;
	}
	.search,
	.navbar,
	.tab-bar,
	.left-off-canvas-menu,
	.main-nav,
	header,
	#footer,
	.support,
	.print,
	#printme,
	.default,
	.top-bar,
	.top-logo a img,
	#sidebar-left,
	#sidebar-right,
	.top-bar-section,
	.breadcrumbs,
	#btnPrint,
	.top-logo,
	.topnav,
	#topmenu,
	#chatlio-widget,
	.kr-carousel,
	#top,
	.reveal-modal-bg,
	.close-button {
		display: none;
		height: 0;
	}
}