@use '../resources/resources' as res;
@use '../../../../../node_modules/foundation-sites/scss/util/_util' as mixin;

.title-bar {
	margin-top: 2rem;
	height: 51px;
	.logo {
		margin-bottom: 0;
		max-width: 160px;
		width: 160px;
		overflow: visible;
	}
}
#header {
	width: 100%;
	background: var(--primary-color);
	height: 70px;
	.topbar-left {
		margin-top: 10px;
	}
	.topbar-right {
		text-align: right;
		.moduletable {
			margin-bottom: 0;
		}
		ul#topbar {
			color: res.$white;
			margin-bottom: 0;
			padding-top: 2rem;
			> li {
				border-right: 10px solid transparent;
			}
			li a {
				color: var(--topbar-link);
				font-size: 0.8rem;
			}
			li.current a,
			li.current a:hover,
			li:hover a,
			li.is-active a {
				color: var(--footer-link-hover);
			}
		}
	}
}

// Offcanvas vertical
ul#offcanvas.nav.menu.vertical {
	li {
		background: var(--primary-color);
		a {
			color: res.$white;
			border-bottom: 1px solid var(--primary-color-hover);
			&:hover {
				background: var(--primary-color-hover);
				color: res.$light-gray;
			}
		}
	}
}
.off-canvas .close-button {
	color: res.$white;
	z-index: 999;
	outline: none;
	right: 0.6rem;
	top: 0.6rem;
	font-size: 1.2em;
	line-height: 1;
}